{{define "base"}}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>gomd: {{.File}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/ace-builds/src-min/ace.js"></script>
    <script src="/static/bower_components/bootstrap-markdown-editor/dist/js/bootstrap-markdown-editor.js"></script> 
</head>
<body>
<form class="editorForm" method="post">
    <h1>{{.File}}</h1>
    <textarea class="markdown" name="content">{{.Content}}</textarea>

    <button type="submit" class="btnsave">Save</button>
    <button type="button" class="btnstop">Stop Server</button>
    <select name="eol" class="eol">
        {{ $currentLineEnding := .CurrentLineEnding }}
        {{ range $index, $element := .LineEndings }}
        <option value="{{ $index }}"{{ if eq $index $currentLineEnding }} selected{{ end }}>{{ $element }}</option>
        {{ end }}
    </select>
</form>
<script>
$(document).ready(function () {
    $("button.btnsave").click(function (event) {
        $.post('', $("textarea.markdown").markdownEditor('content'), function () {
            console.log("saved");
        });
        event.preventDefault();
    });
    $("button.btnstop").click(function (event) {
        $.post("/shutdown", { when: "now"}, function () {
            console.log("shutdown");
        })
        return false;
    });
    $('textarea.markdown').markdownEditor({
        theme: 'chaos',
        // Activate the preview:
        preview: true,
        // This callback is called when the user click on the preview button:
        onPreview: function (content, callback) {

            // Example of implementation with ajax:
            $.ajax({
                url: 'mdtohtml',
                type: 'POST',
                dataType: 'html',
                data: {content: $("textarea.markdown").markdownEditor('content')},
            })
            .done(function(result) {
                // Return the html:
                callback(result);
            });

        }
    });
});
</script>
<div class="hovershowContainer">
    <hr>
    <a class="hovershow" href="/capublic">CA Public Certificate (sha256: d2e2615895102013abf5cd04a7540abcaabab7a83cee679df9bdffd5a6313dc4)</a>
</div>
</body>
</html>
{{end}}