{{define "base"}}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>gomd: {{.File}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/editor.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/marked.js"></script>
    <script src="/static/js/editor.js"></script>
</head>
<body>
<form class="editorForm" method="post">
    <input class="title" type="text" placeholder="Title" /> 
    <textarea class="markdowneditor" name="content">{{.Content}}</textarea>

    <button type="submit" class="btnsave">Save</button>
    <button type="button" class="btnstop">Stop Server</button>
    <select name="eol" class="eol">
        {{ $currentLineEnding := .CurrentLineEnding }}
        {{ range $index, $element := .LineEndings }}
        <option value="{{ $index }}"{{ if eq $index $currentLineEnding }} selected{{ end }}>{{ $element }}</option>
        {{ end }}
    </select>
</form>
<script>
$(document).ready(function () {
    $("button.btnsave").click(function (event) {
        $("textarea.markdowneditor").each(function(){
            var postData = {};
            $.each($('.editorForm').serializeArray(), function (i, field) {
                postData[field.name] = field.value;
            });
            postData["content"] = this.value();
            $.post('', postData, function () {
                console.log("saved");
            });
        })
        event.preventDefault();
    });
    $("button.btnstop").click(function (event) {
        $.post("/shutdown", { when: "now"}, function () {
            console.log("shutdown");
        })
        return false;
    });
    $("textarea.markdowneditor").each(function(){
        var mde = new window.Editor({
            element: this
        });
        mde.codemirror.on("change", function() {
            $("button.btnstop").css("display", "none");
        });
    })
});
</script>
<div class="hovershowContainer">
    <hr>
    <a class="hovershow" href="/capublic">CA Public Certificate (sha256: d2e2615895102013abf5cd04a7540abcaabab7a83cee679df9bdffd5a6313dc4)</a>
</div>
</body>
</html>
{{end}}