body * {
  font-family: 'Helvetica Neue', 'Open Sans', 'Roboto', arial, sans-serif;
  font-size: 100%;
}

a {
    color: #1e6bb8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.hovershow {
  display: none;
}

.hovershowContainer:hover .hovershow {
  display: block;
}
